<!doctype html> 

<head>
  <meta charset="utf-8"> 
	<title><!--# page title | site_name #--></title>
	<link rel="stylesheet" href="/style.css" type="text/css" />
	<link rel="icon" type="image/png" href="/images/favicon.png"/>
<!--# page_head #-->

<!--[if lte IE 8]>
<link rel="stylesheet" href="/css/ie.css" type="text/css" />
<![endif]-->

</head>

<body>

<div id="background">

<div id="structure">

<!--# masthead #-->

<div id="content">

<!--# module #-->

</div>

<!--# footer #-->

</div>

</div>

</body>
</html>
