<div class="wrap">
	<div class="icon32" id="icon-upload"><br></div>
	<h2>Powerhouse Museum Image Grid</h2>

	<p>
		please register for an account and create and key <a href="http://api.powerhousemuseum.com/register/" target="_blank">here.</a>
	</p>

	<form action="" method="post">
		<p>
			<label for="phm-image-grid-api_key">API Key:</label>
			<input type="text" value="{% api_key %}" name="phm-image-grid-api_key">
		</p>
		<input type="submit" value="Save" class="button-primary widget-control-save" name="save">
	</form>
</div>